#main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#life {
  width: 600px;
  padding: 0;
}

#stages {
  margin: 0;
  padding: 0;
}

#life-time {
  width: 100%;
	outline: 0;
}
