.navbar {
  background: #ffec00;
}

#main {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#life {
  width: 100%;
  padding: 0;
}

#stages {
  margin: 0;
  padding: 0;
}

#life-time {
  width: 100%;
	outline: 0;
}

#stage-details {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
}

.stage-detail {
  width: 30%;
  min-height: 16em;
  float: left;
  margin-left: 0;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 15px;
  color: white;
  background: #1F1F1F;
  border: 3px solid black;
  border-radius: 6px;
  list-style: none;
}

.stage-detail h3 {
  margin-top: 10px;
}

.open-detail {
  cursor: pointer;
}

.color {
  width: 80%;
  height: 20px;
  border-radius: 6px;
}

#now {
  font-size: 14px;
  font-weight: bold;
  color: #1F1F1F;
}

#timeRange {
  font-style: italic;
  color: gray;
  margin-bottom: 15px;
}

#menu-more:focus
#menu-more:hover {
  background: none;
}
