<div id="main">
  <div id="now">{{ now }}</div>

  <div id="life">
    <div id="stages"></div>
    <input id="life-time" type="range" value="0" min="0" max="600" ng-model="lifeTime" ng-change="ctrlStages($event)">  
  </div>

  <div id="details">
    <ul id="stage-details">
      <li class="stage-detail" ng-repeat="stage in activeStages">
        <div class="color" style="background:{{ stage.color() }}"></div>
        <h3>{{ stage.title }}</h3>
        <p>{{ stage.desc }}</p>
      </li>
    </ul>
  </div>

</div>
